<!DOCTYPE html>
<html>
  <head>
    <title>Pirates</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <div id="menu" class="open">
      <h1>Pirates' Quest</h1>
      <input placeholder="Name" maxlength="10" minlength="0" type="text" id="name"></input>
      <select id="skin">
        <option value="0">RED</option>
        <option value="1">BLUE</option>
        <option value="2">GREEN</option>
        <option value="3">YELLOW</option>
        <option value="4">BLACK</option>
      </select><br><br>
      <button id="startButton">Play</button>

      <p class="howto">
        <code>W</code> <code>A</code> <code>S</code> <code>D</code> to sail your ship. <br>
        <code>,</code> and <code>.</code> to fire cannons. Careful, you only have so many cannon balls<br>
        Sail to a port and slow down to a halt to enter into the port. <br> 
        Each port buys & sells different items at different prices!<br>
        Destroy other players to get money. <br>
        But if you die, you loose everything!
      </p>
      <div class="version">
        <a href="https://github.com/dotjersh/pirates" >version 0.1 alpha</a>
      </div>
      
    </div>
    
    <div id="game">
      <canvas id="canvas" width="0" height=0></canvas>
      <ul class="player_list"></ul>
      <div id="port">
        <div id="title">
          <h2>{{ name }}</h2>
        </div>
      
        <div id="shelf">
          <div class="tabs">
            <div class="tab" @click="changeTab('store')" :class="{ active: isActive('store') }">Store</div>
            <div class="tab" @click="changeTab('crew')" :class="{ active: isActive('crew') }">Crew</div>
            <div class="tab" @click="changeTab('ship')" :class="{ active: isActive('ship') }">Ship</div>
          </div>
          <div class="tab_content store" v-if="isActive('store')">
            <div v-for="item in items" :key="item.id" class="item">
              <span class="icon">
                <i class="inventory" :class='item.id'></i>
              </span>
              <span class="quantity">
                {{ item.quantity }}
              </span>
              <span class="button" @click='buy(item.id)'>
                <span>buy x{{ amount }}</span>
                <span class='price'>${{ item.price.buy * amount }}</span>
              </span>
              <span class="button" @click='sell(item.id)'>
                <span>sell x{{ amount }}</span>
                <span class='price'>${{ item.price.sell * amount}}</span>
              </span>
            </div>
          </div>
          <div class="tab_content crew" v-if="isActive('crew')">
            <div class="crew_member" v-for='crew in crew' :key="crew.id" v-if="!existsIn(crew.id,myCrew)">
              <div class="title" v-if="!existsIn(crew.id,myCrew)">
                <img :src="'/assets/characters/' + crew.sprite + '.png'" width="50" height="50" />
                <div class="name">
                  <h3>{{crew.name}}</h3>
                  <p>{{crew.description}}</p>
                </div>
                <span class="button" @click='hire(crew)'>
                  <span>Hire</span>
                  <span class='price'>${{ crew.cost }}</span>
                </span>
              </div>
            </div>
            <div class="crew_member" v-for='crew in myCrew' :key="crew.id">
              <div class="title">
                <img :src="'/assets/characters/' + crew.sprite + '.png'" width="50" height="50" />
                <div class="name">
                  <h3>{{crew.name}}</h3>
                  <p>{{crew.description}}</p>
                </div>
                <span class="button fire" @click='fire(crew)'>
                  <span>Fire</span>
                </span>
              </div>
            </div>
          </div>
          <div class="tab_content ship" v-if="isActive('ship')">
            <div class="button" @click='repair()'>
              Repair 5% for 1 wood
            </div>
          </div>
        </div>
      
        <div id="info">
          <img src="" width=64 height=64>
          <div>
            <h3>{{ player_name }}</h3>
            <p>{{ cargo_count }} / {{ cargo_capacity }} Capcity</p>
            <p>{{ crew_count }} / {{ crew_capacity }} crew</p>
          </div>
        </div>
      </div>
      <div class="stats"></div>
    </div>
    
    <script src="dist/main.js"></script>
  </body>
</html>