$soft: #f4f3e8;
$primary_action: #2f240a;
$primary_text: white;
$accent: #9b978e;
$accent_text: black;
$error: #cf5e53;
$error_text: #ffffff;

$sea: #89cff0;

@font-face {
  font-family: comicMono;
  src: url("../assets/ComicMono.ttf");
}

body {
  margin: 0px;
  font-family: comicMono;
  background-color: $sea;
  color: $primary_action;
}

#menu {
  display: none;
  &.open {
    display: block;
  }
  text-align: center;
  padding-top: 10%;

  .version {
    position: fixed;
    bottom: 0px;
    right: 5px;
    a {
      color: white !important;
    }
  }

  .howto {
    margin-top: 10%;
    code {
      background-color: grey;
      color: white;
      display: inline-block;
      text-align: center;
      width: 15px;
      border-radius: 5px;
    }
  }
}

#game {
  display: none;
  &.open {
    display: block;
  }

  #canvas {
    position: fixed;
    left: 0;
    top: 0;
  }

  .player_list {
    position: fixed;
    right: 10px;
    top: 10px;
    list-style: none;
  }

  .stats {
    position: fixed;
    bottom: 0px;
    right: 0px;
    line-height: 16px;
  }

  #port {
    display: grid;
    grid-template-rows: 0.1fr auto 64px;
    background-color: $soft;
    position: fixed;
    top: 0px;
    left: -320px;
    transition: 1s ease all;
    width: 280px;
    padding: 20px;
    height: calc(100vh - 40px);

    &.open {
      left: 0px;
    }

    #shelf {
      .tabs {
        margin-bottom: 10px;
        border-bottom: 1px solid $primary_action;

        .tab {
          display: inline-block;
          padding: 5px;
          margin: 5px;
          margin-bottom: 0px;
          border-top: 1px solid $primary_action;
          border-left: 1px solid $primary_action;
          border-right: 1px solid $primary_action;
          color: $primary_action;
          cursor: pointer;
        }

        .tab.active {
          background-color: $primary_action;
          color: $primary_text;
        }
      }

      .store {
        font-size: 13px;

        .item {
          margin-bottom: 15px;
          height: 20px;
          line-height: 20px;
          padding: 0px;
          display: grid;
          grid-template-columns: 0.1fr 0.2fr 0.35fr 0.35fr;

          .icon,
          .quantity {
            padding: 2px;
          }

          .button {
            span {
              background-color: $primary_action;
              cursor: pointer;
              color: $primary_text;
              padding: 5px;
            }

            span.price {
              background-color: $accent;
            }
          }
        }
      }

      .crew {
        .crew_member {
          margin-bottom: 10px;
        }

        .title {
          display: grid;
          grid-template-columns: 60px auto 80px;

          img {
            float: left;
            margin-right: 10px;
          }

          .name {
            h3 {
              margin: 0px;
              font-size: 15px;
              line-height: 25px;
            }

            p {
              line-height: 12px;
              font-size: 12px;
              margin: 0px;
            }
          }

          .button {
            margin-top: 0px;

            span {
              background-color: $primary_action;
              cursor: pointer;
              color: $primary_text;
              padding: 4px;
              text-align: center;
              display: block;
            }

            &.fire {
              margin-top: 12px;

              span {
                color: $error-text;
                background-color: $error;
              }
            }

            span.price {
              background-color: $accent;
            }
          }
        }
      }

      .ship {
        .button {
          background-color: $primary_action;
          cursor: pointer;
          color: $primary_text;
          padding: 5px;
          margin-top: 10px;
          margin-bottom: 10px;
          text-align: center;
        }
      }
    }

    #info {
      padding: 10px;
      font-size: 12px;
      img {
        float: left;
        margin-right: 10px;
      }

      h3 {
        margin: 0px;
        font-size: 15px;
      }

      p {
        margin: 0px;
        margin-top: 5px;
      }
    }
  }
}

i.inventory {
  display: inline-block;
  background: url("../assets/inventory.png") 0 0;
  height: 16px;
  width: 16px;
  background-size: 256px auto;

  &.cannon_ball {
    background-position-y: -18 * 16px;
    background-position-x: -5 * 16px;
  }

  &.wood {
    background-position-y: -19 * 16px;
    background-position-x: -11 * 16px;
  }

  &.wheat {
    background-position-y: -20 * 16px;
    background-position-x: -11 * 16px;
  }

  &.gold {
    background-position-y: -17 * 16px;
    background-position-x: -3 * 16px;
  }

  &.bread {
    background-position-y: -14 * 16px;
    background-position-x: -13 * 16px;
  }

  &.money {
    background-position-y: -12 * 16px;
    background-position-x: -10 * 16px;
  }
}
