@font-face {
  font-family: comicMono;
  src: url("../assets/ComicMono.ttf");
}

body {
  margin: 0px;
  font-family: comicMono;
  background-color: #89cff0;
}

#menu {
  display: none;
  &.open {
    display: block;
  }
  text-align: center;
  padding-top: 10%;

  .version {
    position: fixed;
    bottom: 0px;
    right: 5px;
    a {
      color: white !important;
    }
  }

  .howto {
    margin-top: 10%;
    code {
      background-color: grey;
      color: white;
      display: inline-block;
      text-align: center;
      width: 15px;
      border-radius: 5px;
    }
  }
}

#game {
  display: none;
  &.open {
    display: block;
  }

  #canvas {
    position: fixed;
    left: 0;
    top: 0;
  }

  .player_list {
    position: fixed;
    right: 10px;
    top: 10px;
    list-style: none;
  }

  .stats {
    position: fixed;
    bottom: 0px;
    right: 0px;
    line-height: 16px;
  }

  .port {
    position: fixed;
    top: 0px;
    left: -320px;
    background-color: white;
    transition: 1s ease all;
    width: 280px;
    padding: 20px;
    height: calc(100vh - 40px);

    &.open {
      left: 0px;
    }

    h1 {
      margin-top: 10px;
      font-size: 20px;
    }

    .store {
      font-size: 13px;
      p.item {
        height: 20px;
        line-height: 20px;
        padding: 0px;
        display: grid;
        grid-template-columns: 0.333fr 0.333fr 0.333fr;
        button {
          line-height: 10px;
          padding: 0px;
          height: 20px;
          font-size: 10px;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }
}

i.inventory {
  display: inline-block;
  background: url("../assets/inventory.png") 0 0;
  height: 16px;
  width: 16px;
  background-size: 256px auto;

  &.cannon_ball {
    background-position-y: -18 * 16px;
    background-position-x: -5 * 16px;
  }

  &.wood {
    background-position-y: -19 * 16px;
    background-position-x: -11 * 16px;
  }

  &.wheat {
    background-position-y: -20 * 16px;
    background-position-x: -11 * 16px;
  }

  &.gold {
    background-position-y: -17 * 16px;
    background-position-x: -3 * 16px;
  }

  &.bread {
    background-position-y: -14 * 16px;
    background-position-x: -13 * 16px;
  }

  &.money {
    background-position-y: -12 * 16px;
    background-position-x: -10 * 16px;
  }
}
